<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    <link rel="stylesheet" th:href="@{/css/auth/login.css}">
</head>
<body>
<div class="login-form">
    <form name="f" method="post" action="/process_login">
        <div class="login">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <label for="username">Username </label>
            <input placeholder="Name" type="text" name="username" id="username"/>
            <br/>
            <label for="password">Password </label>
            <input th:placeholder="Password" type="password" name="password" id="password"/>
        </div>

        <input id="submit" type="submit" value="Login"/>

        <div th:if="${param.error}" style="color: red">
            Неправильне ім’я або пароль
        </div>
        </form>
</div>

</body>
</html>