<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
        <label for="username">Введіть ім'я користувача: </label>
        <input th:placeholder="Name" type="text" th:field="*{username}" id="username"/>

        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>

        <br/>

        <label for="password">Введіть пароль: </label>
        <input th:placeholder="Password" type="password" th:field="*{password}" id="password"/>

        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>

        <br/>

        <label for="roles">Role: </label>
        <select name="roles" id="roles" th:field="*{role}">
            <option value="ROLE_ADMIN">Game master</option>
            <option value="ROLE_USER">Player</option>
        </select>

        <input type="submit" value="Sign up!"/>
    </form>
</body>
</html>