<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CharactersList</title>
</head>
<body>
    <h2>Select your poor soul...</h2>

    <form method="post" th:action="@{/player/characters}">
        <select id="charactersList" th:field="${character.name}">
            <option th:each="i:${charactersList}" th:text="${i.getName()}" th:value="${i.getName()}"/>
        </select>
    <br>
        <input type="submit" th:value="Select">

    </form>
</body>
</html>