<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NewCharacter</title>
</head>
<body>
    <h2>This life will be full of suffer...</h2>
    <form th:method="post" th:action="@{/player/newCharacter}" th:object="${character}">
        <label for="name">Name</label>
        <input th:placeholder="Name" id="name" th:field="*{name}" type="text">
        <br>

        <table class="stats" style="border: solid">
            <tr>
                <th>Strange</th>
               <td><input type="number" th:value="*{stats.strange}" th:field="*{stats.strange}"></td>
            </tr>
            <tr>
                <th>Agility</th>
                <td><input type="number" th:value="*{stats.agility}" th:field="*{stats.agility}"></td>
            </tr>
            <tr>
                <th>Intelligent</th>
                <td><input type="number" th:value="*{stats.intelligent}" th:field="*{stats.intelligent}"></td>
            </tr>
            <tr>
                <th>Charisma</th>
                <td><input type="number" th:value="*{stats.charisma}" th:field="*{stats.charisma}"></td>
            </tr>
            <tr>
                <th>Luck</th>
                <td><input type="number" th:value="*{stats.luck}" th:field="*{stats.luck}"></td>
            </tr>
        </table>

        <label>Class
            <select th:field="*{classes.className}">
                <option th:each="i : ${T(com.illisium.basic.en.ClassType).values()}" th:text="${i}"
                th:value="${i}"/>
            </select>
        </label>

        <label>Basic magic element
            <select th:field="*{infoChar.element}">
                <option th:each="i : ${T(com.illisium.basic.en.ElementType).values()}" th:text="${i}"
                        th:value="${i}"/>
            </select>
        </label>


        <input type="submit" th:value="Create"/>

    </form>
</body>
</html>