<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Armor</title>
    <link rel="stylesheet" th:href="@{/css/gm/GmHead.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">

</head>
<body>

<div class="header">
    <ul class="header-list">
        <li>
            <a href="/gm/create">Create something</a>
        </li>
        <li>
            <a href="/gm/session/newSession">New Session</a>
        </li>
        <li>
            <a href="/gm/session/select">Load Session</a>
        </li>
        <li>
            <a href="/player/startPage">Become a player</a>
        </li>
        <li>
            <a href="">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                </svg>
                Logout
            </a>
        </li>
    </ul>
</div>

<form th:method="post" th:action="@{/gm/create/createWeapon}" th:object="${weapon}">
    <h2>Here you can create weapon</h2>
    <br/>
    <table th:border="global" th:align="center" >
        <thead>
        <tr>
            <th rowspan="2">Name</th>
            <th rowspan="2">Type</th>
            <th rowspan="2">Rare</th>
            <th rowspan="2">Damage</th>
            <th rowspan="2">Twohand</th>
            <th colspan="6">Stats</th>
        </tr>
        <tr>
            <th>STR</th>
            <th>AGI</th>
            <th>INT</th>
            <th>STA</th>
            <th>LUCK</th>
            <th>CHAR</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" th:field="*{name}" id = "weaponName"/>
            </td>
            <td>

                <select th:field="*{type}">
                    <option th:each="i : ${T(com.illisium.basic.en.WeaponType).values()}" th:value="${i}" th:text="${i}"/>
                </select>
            </td>
            <td>
                <select th:field="*{rare}">
                    <option th:each="i: ${T(com.illisium.basic.en.Rare).values()}" th:value="${i}" th:text="${i}"/>
                </select>

            </td>
            <td>
                <input type="number" th:field="*{damage}" id="DMG"/>
            </td>
            <td>
                <input type="checkbox" th:field="*{twohand}" id="twohand">
            </td>
            <td>
                <input type="number" th:field="*{stats.strange}"  id = "STR"/>
            </td>
            <td>
                <input type="number" th:field="*{stats.agility}" id = "AGI"/>
            </td>
            <td>
                <input type="number" th:field="*{stats.intelligent}" id = "INT"/>
            </td>
            <td>
                <input type="number" th:field="*{stats.stamina}" id = "STA"/>
            </td>
            <td>
                <input type="number" th:field="*{stats.luck}" id = "LUCK"/>
            </td>
            <td>
                <input type="number" th:field="*{stats.charisma}" id="CHAR"/>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <input type="submit" value="Save" />
</form>
</body>
</html>