<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Monster</title>
</head>
<body>
    <h2>Here you can create monsters</h2>
    <form th:action="@{/gm/create/createMonster1}" th:method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/jpeg">
        <br><br>
        <input type="submit" value="Next">
    </form>

    <br><br>

    <img th:src="@{'/images/' + ${imageName}}" alt="Preview">
</body>
</html>