<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h2>It's time to create...</h2>
<form>
    <a href="/gm/create/createWeapon">Weapon</a>
    <br/>
    <a href="/gm/create/createArmor">Armor</a>
    <br/>
    <a href="/gm/create/createMonster1">Monster</a>
    <br/>
    <a href="/gm/create/createSpell">Spell</a>
    <br/>
    <a href="/gm/create/createSkill">Skill</a>
    <br/>
    <a href="/gm/create/createItem">Item</a>
</form>
</body>
</html>