<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Monster</title>
    <link rel="stylesheet" th:href="@{/css/gm/GmHead.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">

</head>
<body>

<div class="header">
    <ul class="header-list">
        <li>
            <a href="/gm/create">Create something</a>
        </li>
        <li>
            <a href="/gm/session/newSession">New Session</a>
        </li>
        <li>
            <a href="/gm/session/select">Load Session</a>
        </li>
        <li>
            <a href="/player/startPage">Become a player</a>
        </li>
        <li>
            <a href="/logout">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                </svg>
                Logout
            </a>
        </li>
    </ul>
</div>


    <h2>Here you can create monsters</h2>
    <form th:object="${monster}" method="post" th:action="@{/gm/create/createMonster}">
        <label>Name
            <input type="text" th:field="${monster.name}">
        </label>
        <label>Type
            <input type="text" th:field="${monster.type}">
        </label>
        <label>Lvl
            <input type="number" th:field="${monster.lvl}">
        </label>
        <label>Ownership
            <input type="text" th:field="${monster.ownership}">
        </label>

        <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>