<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Item</title>
    <link rel="stylesheet" th:href="@{/css/gm/GmHead.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">

</head>
<body>

<div class="header">
    <ul class="header-list">
        <li>
            <a href="/gm/create">Create something</a>
        </li>
        <li>
            <a href="/gm/session/newSession">New Session</a>
        </li>
        <li>
            <a href="/gm/session/select">Load Session</a>
        </li>
        <li>
            <a href="/player/startPage">Become a player</a>
        </li>
        <li>
            <a href="/logout">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                </svg>
                Logout
            </a>
        </li>
    </ul>
</div>


<form  th:object="${item}" th:method="post" th:action="@{/gm/create/createItem}">
    <table th:border="global" th:align="left">
        <thead>
        <tr>
            <th>Name </th>
            <th>Type </th>
            <th>Usable </th>
            <th>Stackable </th>
            <th width="50%" >Description </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input th:field="${item.name}" type="text" id="name"/></td>
            <td><select th:field="${item.type}" id="Type">
                <option th:each="i : ${T(com.illisium.basic.en.ItemType).values()}" th:value="${i}" th:text="${i}"/>
            </select></td>
            <td><input th:field="${item.usable}" type="checkbox" id="usable"/></td>
            <td><input th:field="${item.stackable}" type="checkbox" id="stackable"/></td>
            <td><input th:field="${item.description}" type="text" id="description" size="150%"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <input type="submit" value="Save">
</form>


</body>
</html>