<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Illisium</title>
    <link rel="stylesheet" th:href="@{/css/HelloPage.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>

<div class="actions-head">
    <ul>
        <li>
            <a href="https://docs.google.com/document/d/1bkkEZwpn1hBiLz3u-bAi2AWkWHzBAaIdkqbpWrpd4FA/edit">F.A.Q.</a>
        </li>
        <li>
            <a href="auth/login">Log-in</a>
        </li>
        <li>
            <a href="/auth/registration">Sing-up</a>
        </li>
    </ul>
</div>

<img th:src="@{/image/fone-image.png}" alt="fone" class="fone-img" >


<div class="greetings">
    <h1>Welcome to Illisium World</h1>

    <p>Illisium it's Role Game which using Roll Dice mechanics. If was inspirited by DnD Role Game</p>

</div>

</body>
</html>