
input{
    margin: 10px 10px 10px 10px;
}

label{
    margin: 10px 10px 10px 50px;
}

.login{
    background-color: tomato;
    border-radius: 10px ;
    border-color: black;
    border-style: solid;
    width: 200px;
}